<div class="container-fluid container-home">
  <%= render partial: 'profile' %>
  <div class="row">
    <% @pictures.each do |picture| %>
      <%= render partial: 'picture', locals: { picture: picture} %>
      <% end %>
  </div>
</div>
