<div class="container-fluid container-home">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <%= image_tag 'phones.png' %>
  </div>
  <div class="col-md-4 title">
    <h1 class="home">Welcome to<br />PictoNOW</h1>
    <h2 class="home">We're in the Sandbox!</h2>
    <%= link_to "Login with Instagram", "/auth/instagram", class: "btn btn-lg btn-default btn-home" %>
  </div>
  <div class="col-md-2"></div>
</div>
